@import url('https://fonts.googleapis.com/css2?family=Gothic+A1&display=swap');
caption{
    font-family : 'Gothic A1', sans-serif;
    color:white;
}
body{
    background-color: #1A1A1B;
}
table {
    color : white;
    border: 1px solid #444548;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #444548;
    text-align: center;
}
td {
    border: 1px solid #444548;
    font-family : 'Gothic A1', sans-serif;
    text-align: center;
    padding: 10px 2px 8px;
}
th {
    
    padding: 10px;
    text-align: center;
    background-color: hsl(225, 3%, 27%);
}

h2{
    color : white;
    font-size: 20px;
    text-align: center;
    font-family: Arial;
    padding : 7px;
}
button{
    font-weight: bold;
    text-align: center;
    color : white;
    border : 2px solid gray;
    border-radius: 11px;
    background-color: #444548;
    font-family: 'Gothic A1', sans-serif;
}
button:hover{
    background-color : hsl(225, 3%, 10%);
    cursor : pointer;
    box-shadow: 0 2px 6px hsl(225, 3%, 50%);
}

[data-sort]{
    padding:1em 2em;
    color:#fff;
    cursor:pointer;
}
 
[data-sort]::after{
    content:'▼';
    margin-left:2px;
    font-size:.5em;color:white;}